@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {

  font-family: 'Poppins', sans-serif;
}
*:focus {
  outline: none;
}
#left {
    background-color: rgb(255, 255, 255);
  }
  #right {
    background-color: rgb(255, 255, 255);
  }

#con{
    margin-left:50px;
}
#patient{
 color:#001c3c;
 font-size:18px;
 font-weight:500;
 letter-spacing: 0;
 line-height: 12px;
 min-width:133px;
 margin-top:8%;
 margin-left:28%;
 white-space: nowrap;
}
#vijay{
    color:#6A7888;
    font-size:18px;
   font-weight:500;
 letter-spacing: 0;
 line-height: 12px;
 min-width:133px;
 margin-top:-10px;
 margin-left:52%;
 white-space: nowrap;
}
#id{
    color:#001c3c;
    font-size:18px;
    font-weight:500;
    letter-spacing: 0;
    line-height: 12px;
    min-width:133px;
    margin-top:5%;
    margin-left:28%;
    white-space: nowrap; 
}
#mrn{
    color:#001c3c;
    font-size:18px;
    font-weight:500;
    letter-spacing: 0;
    line-height: 12px;
    min-width:133px;
    margin-top:5%;
    margin-left:28%;
    white-space: nowrap;
}
#gender{
    color:#001c3c;
    font-size:18px;
    font-weight:500;
    letter-spacing: 0;
    line-height: 12px;
    min-width:133px;
    margin-top:5%;
    margin-left:28%;
    white-space: nowrap;
}
#no{
color:#6A7888;
font-size:18px;
font-weight:500;
 letter-spacing: 0;
 line-height: 12px;
 min-width:133px;
 margin-top:-10px;
 margin-left:52%;
 white-space: nowrap;
}
#mri{
 color:#6A7888;
font-size:18px;
font-weight:500;
 letter-spacing: 0;
 line-height: 12px;
 min-width:133px;
 margin-top:-10px;
 margin-left:52%;
 white-space: nowrap;
}
#gend{
color:#6A7888;
font-size:18px;
font-weight:500;
 letter-spacing: 0;
 line-height: 12px;
 min-width:133px;
 margin-top:-10px;
 margin-left:52%;
 white-space: nowrap;
}
#vip{
    font-size: 16px;
    font-weight:500;
    letter-spacing: 0;
    line-height: 12px;
    min-width:133px;
    margin-top:5%;
    margin-left:28%;
    white-space: nowrap; 
}
#next{
    background-color:#2A60BC;
    height:40px;
    width:120px;
    border-radius: 8px;
    margin-left:45% ;
    margin-top:10px;
    border:none;
    color:#ffffff;
    font-weight: 600;
}
.rectangle-17{
    background-color:#D9D9D9;
    border:1px none;
    height: 110px;
    width:3px;
    margin-left:30%;
    margin-top:-30px;
   }
   #yea{
    color:#001C3c;
    font-size:22px;
    font-weight:700;
    margin-left:40%;
    margin-top:30px;
   }
   #Years{
    color:#001C3c;
    font-size:20px;
    font-weight:400;
    margin-left:46%;
    margin-top:-32px;
   }
   #mon{
    color:#001C3c;
    font-size:23px;
    font-weight:700;
    margin-left:52%;
    margin-top:-30px;
   }
   #months{
    color:#001C3c;
    font-size:20px;
    font-weight:400;
    margin-left:55%;
    margin-top:-34px;
   }
#weight{
    color:#001C3c;
    font-size:13px;
    font-weight:500;
    letter-spacing: 0;
    line-height: 20px;
    min-width:43px;
    min-height: 20px;
    margin-top:-65px;
    margin-left:36%;
    white-space: nowrap; 
}
#wei{
    color:#6A7888;
    margin-left: 35%;
    font-size:24px;
}
#kg{
    color:#6A7888;
    margin-left: 40%;
    margin-top: -23px;
    font-size:12px; 
}
.rect{
    background-color:#D9D9D9;
    border:1px none;
    height:22px;
    width:2px;
    margin-left:45% ;
    margin-top: -20px;
}
#height{
    color:#001C3c;
    font-size:14px;
    font-weight:500;
    letter-spacing: 0;
    line-height: 20px;
    min-width:43px;
    min-height: 20px;
    margin-top:-20px;
    margin-left:48%;
    white-space: nowrap; 
}
#hei{
    color:#6A7888;
    margin-left:47%;
    margin-top:-30px;
    font-size:24px; 
}
#cm{
    color:#6A7888;
    margin-left: 53%;
    margin-top: -23px;
    font-size:12px; 
}
.recta{
    background-color:#D9D9D9;
    border:1px none;
    height:23px;
    width:2px;
    margin-left:57% ;
    margin-top: -24px;
}
#blood{
    color:#001C3c;
    font-size:14px;
    font-weight:500;
    letter-spacing: 0;
    line-height: 20px;
    min-width:43px;
    min-height: 20px;
    margin-top:-20px;
    margin-left:60%;
    white-space: nowrap; 
}
#blo{
    color:#6A7888;
    font-size:24px;
    font-weight:400;
    letter-spacing: 0;
    line-height: 20px;
    min-width:43px;
    min-height: 20px;
    margin-top:-20px;
    margin-left:60%;
    white-space: nowrap; 
}
#his{
    color:#001c3c;
    font-size:18px;
    font-weight:500; 
    min-width:133px;
 margin-top:5%;
 margin-left:38%;
 white-space: nowrap;
}
#view{
    background-color: #2A60BC;
    position:absolute;
    top:46%;
    right:12%;
    height:25px;
    width:72px;
    font-size:12px;
    border-radius: 10px;
    border:none;
    font-weight:500;
    color:#ffffff;
}
#male{
width: 110px;
height:100px;
background-color:#D9D9D9;
margin-left:24%;
margin-top:5%;
border-radius: 4px;
background-size: contain;

}
#mal{
    background:url('./img/male.svg')no-repeat;
    position:center;
    align-content:center;
    height:73px;
    width:91px;
    margin-left:10px;
    margin-top:-20;
}
.finger{
    background:url('./img/finger.svg')no-repeat;
    height:160px;
    width:115px;
    margin-left:35%;
    margin-top:-40px; 
}
.eye{
    background:url('./img/eye.svg')no-repeat;
    height:150px;
    width:220px;
    margin-left:60%;
    margin-top:-160px; 
   
}
#ok{
    background: url('./img/ok.svg') no-repeat;
    width: 100px;
    height:100px;
    margin-left:70%;
    margin-top:65%;
}
#yes{
    background: url('./img/yes.svg') no-repeat;
    width: 100px;
    height:100px;
    margin-left:71%;
    margin-top:-145px;
}
  #prof{
    background: url('./img/prof.svg') no-repeat;
height:50px;
width:50px;
margin-top:-200px;
margin-left:23%;
 }
 #ID{
background: url('./img/id.svg') no-repeat;
height:50px;
width:50px;
margin-top:-8px;
margin-left:23%;
 }
 .ID{
    background: url('./img/id.svg') no-repeat;
    height:50px;
    width:50px;
    margin-top:-4px;
    margin-left:23%;
     }
     #gen{
        background: url('./img/gender.svg') no-repeat;
        height:50px;
    width:50px;
    margin-top:-4px;
    margin-left:23%;

     }
     #confr{
        margin-left: 6%;
        margin-top:-17px;
        font-size:23px;
        font-weight:600;

     }

Toggle{
    margin-left:50px;
    height:10px;
    

}
