@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {

  font-family: 'Poppins', sans-serif;
}
*:focus {
  outline: none;
}

header {
  
  background-color: #000646;
  height: 60px;
  color: aliceblue;
  text-align: left;
}
#head{
  padding-top: 15px;
  padding-left: 20px;
}
.today {

  width: 505px;
  height: 149px;
  border-radius: 8px;

  

  background-color: aliceblue;
  margin-left: 80px;
  margin-bottom: 40px;
  border: 1px solid #DFE5EB;
  font-size: 12px;

}

.scan {

  width: 505px;
  height: 149px;
  border-radius: 8px;

  font-size: 8px;

  background-color: aliceblue;
  margin-left: 80px;
  border: 1px solid #DFE5EB;
  

}

#left {
  background-color: rgb(255, 255, 255);



}

#right {
  background-color: rgb(255, 255, 255);

}

#prog {
  padding-top: 20px;
  width: 250px;
  height: auto;
}

#stock {
  color: #001C3C;
  margin: 0px;
  margin-top: 10px;
  margin-left: 100px;
  font-weight: bold;
  position: relative;
  bottom:6px;
 
}

#progtext {

  margin: 0px;
  margin-top: 15px;
  font-size: 12px;
  color: #6A7888;

}

#progtext1 {

  margin: 0px;

  font-size: 12px;
  color: #6A7888;

}
#srctxt{
  margin: 0px;
  margin-left: 35px;
  margin-top: 10px;
  font-size: 12px;
  color: #6A7888;

}
#src{
  margin-top: 10px;
  border: 0PX;
  margin-left: 20px;
  border-radius: 8px;
font-size: 12px;
/* White-Bg */
background: #FFFFFF;
/* Line & border */
border: 1px solid #DFE5EB;
position: relative;
bottom:7px;
}
#thump{
  
  width:auto;
  height: auto;
  border: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 72px; 
margin-left: 20px;
background-color: #2A60BC;
color: #DFE5EB;
border-radius: 8px;
font-size: 12px;
position: absolute;
top:423px;
bottom: px;
}
#new{
  
  width:auto;
  height: auto;
  border: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
margin-top: 26px;
margin-left: 30px;
background-color: #2A60BC;
color: #DFE5EB;
border-radius: 8px;
font-size: 12px;
}
#ret{
  
  width:auto;
  height: auto;
  border: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
 
  padding-right: 70px;
  
margin-top: 26px;
margin-left: 30px;
background-color: #2A60BC;
color: #DFE5EB;
border-radius: 8px;
font-size: 12px;
}

.search{
  width: 505px;
  height: 149px;
  border-radius: 8px;

  font-size: 8px;

  background-color: aliceblue;
  margin-left: 80px;
  border: 1px solid #DFE5EB;
  
}
.eme{
  width: 505px;
  height: 149px;
  border-radius: 8px;

  font-size: 8px;

  background-color: aliceblue;
  margin-left: 30px;
  
  border: 1px solid #DFE5EB;
}
#thum{
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
}
#ser{
  padding-top: 5px;
  text-align: left;
  border: none;
}

#thum span.icon {
  background: url(./img/search.svg) no-repeat;
 
  width: 25px;
  float: left;

  height: 25px;
  border-left: none;
  border: 0px;
  
}

#thump span.icon {
  background: url(./img/thump.svg) no-repeat;
  float: left;
  width: 40px;
  height: 20px;
  
}
#new span.icon {
  background: url(./img/add.svg) no-repeat;
  float: left;
  width: 40px;
  height: 20px;
  
}
#ret span.icon {
  background: url(./img/ret.svg) no-repeat;
  float: left;
  width: 40px;
  height: 20px;
  
}
#totxt1{
  margin-top: 20px;
  margin-left: 15px;
}
#totxt{

  margin-left: 15px;
}
.Heart{
  font-size: 10px;
  font-weight: bold;
  color: #6A7888;
  background-color: #FFFFFF;
  width: auto;
  height: 45px;
  text-align: center;
  margin-right: 50px;
  margin-left: 20px;
  border-radius: 8px;
  margin-top: 20px;
  border:1px solid #DFE5EB;
}
.Burns{
  font-size: 10px;
  font-weight: bold;
  color: #6A7888;
  background-color: #FFFFFF;
  width: auto;
  margin-right: 40px;
  margin-left: 60px;
  height: 45px;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
  border:1px solid #DFE5EB;
 
}
.Acc{
  font-size: 10px;
  font-weight: bold;
  color: #6A7888;
  background-color: #FFFFFF;
  width: auto;
  margin-top: 20px;
  height: 45px;
  text-align: center;
  border-radius: 8px;
  margin-right: 60px;
  margin-left: 20px;
  border:1px solid #DFE5EB;
}

.Elect{
  font-size: 10px;
  font-weight: bold;
  color: #6A7888;
  background-color: #FFFFFF;
  width: auto;
  margin-top: 10px;
  height: 45px;
  text-align: center;
  border-radius: 8px;
  margin-right: 60px;
  margin-left: 20px;
  border:1px solid #DFE5EB;
}
.Trau{
  font-size: 10px;
  font-weight: bold;
  color: #6A7888;
  background-color: #FFFFFF;
  width: auto;
  height: 45px;
  text-align: center;
  margin-right: 50px;
  margin-left: 20px;
  border-radius: 8px;
  margin-top: 10px;
  border:1px solid #DFE5EB;
}
.Frac{
  font-size: 10px;
  font-weight: bold;
  color: #6A7888;
  background-color: #FFFFFF;
  width: auto;
  margin-right: 40px;
  margin-left: 60px;
  height: 45px;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
  border:1px solid #DFE5EB;
 
}
#burns{
 font-size: 14px;
 color: #001C3C;
}
#heart{
  font-size: 14px;
  color: #001C3C;
 }
 #acc{
  font-size: 14px;
  color: #001C3C;
 }
 #frac{
  font-size: 14px;
  color: #001C3C;
 }
 #trau{
  font-size: 14px;
  color: #001C3C;
 }
 #elect{
  font-size: 14px;
  color: #001C3C;
 }
 #stock1 {
  color: #001C3C;
  margin: 0px;
  margin-top: 200px;
  margin-left: 50px;
  font-weight: bold;
  position: relative;
  bottom: 6px;
}
#stock2 {
  margin: 0px;
  color: #001C3C;
  margin-left: 130px;
  margin-top: 30px;
  font-weight: bold;
  position: relative;
  bottom: 6px;
}
.epas{

  height: 100px;
  width: fit-content;
  margin-left: 110px;
  margin-right: 130px;
  
  border-radius: 8px;
  background-color: aliceblue;
  border:1px solid #DFE5EB;
}



#d{
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  
}
#ep{
  margin-top: 20px;

}
#phone{

  background-color:#DEE5EC;
  border:1px solid rgb(199, 199, 199);
  height:60px;
  margin-left: 45px;
  width:60px;
  border-radius: 10px;
  position:relative;
  bottom:2px;
  
}
#phone span.icon{
  background: url(./img/phone.svg) no-repeat;
  float: left;
  width: 40px;
  height: 35px;
  position: relative;
  bottom:2px;
  left:6px;
  top:2px;
}
#video{

  background-color:#DEE5EC;
  border:1px solid rgb(199, 199, 199);
  height:60px;
  width:60px;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: -60px;
position:relative;
bottom:2px;
right: 50px;

}
#video span.icon{
  background: url(./img/video.svg) no-repeat;
  float: left;
  width: 40px;
  height: 35px;
  position: relative;
  bottom:2px;
  left:6px;
  top:2px;
}

#smart{

  background-color: #DEE5EC;
  border:1px solid rgb(199, 199, 199);
  height:62px;
  width:60px;
  margin-left: 265px;
  margin-top: -60px;
  border-radius: 10px;
position:relative;
bottom:31px;
}
#smart span.icon{
  background: url(./img/glass.svg) no-repeat;
  float: left;
  width: 40px;
  height: 35px;
  position: relative;
  bottom:2px;
  left:6px;
  top:9px;
}
#EP{
position: relative;
bottom:10px;
}
#ph{

  position: relative;
  bottom:30px;
  left:20px;
}
#vi{

  position: relative;
  bottom:70px;
  left:140px;
}
#sm{

  position: relative;
  bottom:110px;
  left:250px;
}