#header0 {
  
    background-color: #01205C;
    height: 80px;
    color: aliceblue;
    text-align: left;
  }
  #hd{
    padding-top: 10px;
  }
  #quick{
    
    margin-left: 100px;
    padding-top: 10px;
    padding-left: 50px;
    
    font-size: 23px;
    font-weight: bold;
    
  }
  #wether{
    width: 40px;
    height: 40px;
    background: url("./img/wether.svg") no-repeat;
    background-size: 30px;
    margin-top: 10px;
  
  }
  #line{
    
    width: 30px;
    height: 60px;
    margin-right: 10px;
    margin-top: 5px;
    background: url("./img/line.svg") no-repeat;
    background-size: 46px;
   
  }
  #p1{
    width: 40px;
    height: 60px;
    background-size: 30px;
    margin-top: 10px;
    font-size: 12px;
  }

  #settings{
    
    width: 40px;
    height: 60px;
    margin-right: 10px;
    margin-top: 15px;
   
    background: url("./img/setting.svg") no-repeat;
    background-size: 25px;
   
  }
  #join{
    
    width: 40px;
    height: 60px;
    margin-right: 10px;
    margin-top: 15px;
   
    background: url("./img/join.svg") no-repeat;
    background-size: 25px;
   
  }
  #noti{
    
    width: 40px;
    height: 60px;
    margin-right: 10px;
    margin-top: 15px;
   
    background: url("./img/notification.svg") no-repeat;
    background-size: 25px;
   
  }
  #profile{
    
    width: 40px;
    height: 60px;
    margin-right: 30px;
    margin-top: 10px;
   
    background: url("./img/profile.svg") no-repeat;
    background-size: 40px;
   
  }
  #para{
    width: 120px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
   background-color: #01205C;
   border: 0px;
   color: aliceblue;
   font-size: small;

  }
  #paraname{
    white-space: pre-line;
  }
  #selectopt{
    margin-right: 10px;
    background-color: #01205C;
    border: 0px;
    color: aliceblue;
    font-size: medium;

  }
  #position{
    font-size: smaller;
    margin-left: 6px;

  }


#hed1{
    height:60px;
    background: #01205C;
    color: #ffff;

}

#cl{
    
    background-color: white;
     height:60px;
  width:60px;
  margin-left: 550px;
margin-top: -60px;
background: url(./img/cloud.svg) no-repeat;
}
#cel{
   font-size: x-small;
   margin-left: 15px;
   font-style: normal;
}
#cv{
font-size: x-small;
height:60px;
width:60px;
margin-left: 10px;
 margin-top: -15px;
 font-style: normal;
}
#rec{
background: url(./img/rectangle.svg) no-repeat;
height:55px;
width:50px;
border-radius: 10px;
margin-left: 40px;
margin-top: -115px;
}
#pt{
background: url(./img/pat.svg) no-repeat;
position: absolute;
width: 25px;
height: 25px;
margin-left: 50px;
margin-top: 20px;
}
#text{
    
    width: 152px;
    height: 16px;
    margin-left: 55px;
    top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
   text-align: center;
    color: #001C3C;   
}
#ct{
font-family: 'Poppins';
font-style: normal;
font-size: 18px;
color: #6A7888;
width: 230px;
height: 35px;
line-height: 32px;
margin-left: 100px;
margin-top: 18px;
border-radius: 10px;
border: 1px solid #DFE5EB;

}
#ot{
background: url(./img/pat.svg) no-repeat;
height:60px;
width:60px;
margin-left: 100px;
margin-top: 13px;
}
#tect{
position: absolute;
width: 152px;
height: 16px;
left: 330px;
top: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 12px;
text-align: center;
color: #001C3C;
}
#dv{
position: absolute;
width: 93px;
height: 16px;
left: 500px;
top: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 12px;
text-align: center;
color: #6A7888;
}
#nam{
position: absolute;
width: 82px;
height: 12px;
left: 305px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
margin: -15px;
color: #001C3C;
}
#add{
    box-sizing: border-box;
    width: 230px;
    height: 35px;
    border: 1px solid #DFE5EB;
    border-radius: 10px;  
    margin-left: 98px;
}
::placeholder { 
text-indent: 10px;
position: absolute;
width: 198px;
height: 20px;
left: 12px;
top: 8px;
}
#ag{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #001C3C;
    margin-left: 95px;
    margin-top: 20px
    ;
}
#ad{
box-sizing: border-box;
width: 100px;
height: 35px;
left: 45px;
border: 1px solid #DFE5EB;
border-radius: 10px;
}
#ads{
    box-sizing: border-box;
    width: 110px;
    height: 35px;
    left: 165px;
  
    border: 1px solid #DFE5EB;
    border-radius: 10px;    
}
#gen{
margin-right: 70px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
text-align: center;
color: #001C3C;

}
#container{

   background: #ffff;
    box-sizing: border-box;
    width: 229px;
    height: 65px;
    border: 1px solid #DFE5EB;
    border-radius: 10px; 
    margin: 0px;
    margin-left: 100px;
   
    }
   #age{
    margin-top: 10px;
    margin-left: 105px;
}
#tum{
  width: 100px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #6A7888;
    color: #6a7888;
    margin-left: -7px;
}
#value{
  width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 25px;   
    border: 1px solid #6A7888;
    color:#6A7888
}
#container1{
background-color: #F1F6FC;
border:1px solid #2A60BC;
height:50px;
width:50px;
border-radius: 10px;
margin-left: 10px;
margin-right: 10px;
margin-top: 6px;
text-align: center;
font-size: 10px;
padding-top: 15px;
}
#ht{
    position: absolute;
    width: 39px;
    height: 12px;
    left: 50px;
    bottom: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #001C3C;    
}
#het{
    width: 82px;
    height: 35px;
    border: 1px solid #DFE5EB;
    border-radius: 8px;
    margin-left: 102px;
    margin-right: 10px;
}
#bg{
  box-sizing: border-box;
  width: 230px;
  height: 35px;
  border: 1px solid #DFE5EB;
  border-radius: 10px;  
  margin-left: 98px;
}
.button1{
  background-color:#F1F6FC;
  border:1px solid #6A7888;
 height: 40px;
  width: 120px;
  border-radius: 10px;
  margin-left: 400px;
  color:#2a60bc;
  text-align:center;
  font-size: small;
  margin-top: 20px;
  }
.button2{
    background-color:#2a60bc;
    border:1px solid #6A7888;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color:#ffff;
    text-align:center;
    font-size: small;
    margin-top: 20px;
    margin-left: 90px;

}
.button3{
    background-color:#2a60bc;
    border:1px solid #6A7888;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color:#ffff;
    text-align:center;
    font-size: small;
    margin-top: -30px;
    margin-left: 270px;
}
#finger1{
  background: url(./img/finger1.svg)no-repeat;

  width: 146px;

height: 90px;

margin-left: 975px;

margin-top: -230px;
}
#retina{

  background: url(./img/retina.svg)no-repeat;

  width: 146px;

  height: 90px;

  margin-left: 1070px;

margin-top: -90px;

}
#box{
  background-color: #D9D9D9;
height:100px;
width: 110px;
border-radius: 8px;
margin-right: 200px;
margin-top: -650px;
flood-color: right;
float: right;
}
#app{
  text-align: center;
  font-size: 10.7px;
  color: #2A60BC;
  margin-top: -4px;
}
#box2{
  height: 29px;
  width: 110px;
  border-radius: 4px;
  border-style: dashed;
  border-color: #2A60BC;
  background-color: #F1F6FC;
  float: right;
 
  text-align: center;
}
#boxx{  background-color: #D9D9D9;
  height:120px;
  width: 220px;
  border-radius: 8px;
  margin-right: 130px;
  float: right;
  margin-top: -500px;
  margin-left: 40px;
  

}
#box3{
   height: 30px;
  width: 220px;
  border-radius: 4px;
  border-style: dashed;
  border-color: #2A60BC;
  background-color: #F1F6FC;
  float: right;
  margin-top: 20px;
 
  text-align: center;

}
#loc{
  text-align: center;
  font-size: 12px;
  color: #2A60BC;
  margin-top: 5px;
}
.button4{
  background-color:#2a60bc;
  border:1px solid #6A7888;
  height: 37px;
   width: 210px;
border-radius: 10px;
color:#ffff;
text-align:center;
 font-size: small;
 margin-top: -325px;
 margin-left: 50px;
 float: right;
 margin-right: 135px;

}


#human{
  background: url(./img/human.svg) no-repeat;
  height: 70px;
  width:75px;
  margin-left: 10px;
  


}
#location{
  background: url(./img/loc.svg) no-repeat;
  height:70px;
  width:68px;
  border-radius:10px;
  margin: auto;


}
#qvip{
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins;
  margin-top: -90px;
  margin-right: 270px;
  
  float: right;
}
#toggle{
  float: right;
  margin-top: -90px;
  margin-right: 160px;
}
#vip{
  margin-left:1500 px;
}
#don{
  margin-top: 40px;
  margin-left: 130;
}

#dk{
  width: 82px;
    height: 35px;
    border: 1px solid #DFE5EB;
    border-radius: 8px;
  color: #6a7888;
  margin-left: 10px;
}
#wet{
  box-sizing: border-box;
  width: 230px;
  height: 35px;
  border: 1px solid #DFE5EB;
  border-radius: 10px;  
  margin-left: 98px;
}
